<div class="row" id="body-row">
	<div id="sidebar-container" class="d-md-block col-lg-3 col-md-4 bg-white">
		<div class="sticky-top sticky-offset">


			<div class="card ml-4 shadow fixed-card">
				<img src=<%= @pet.dp_url%> class="card-img-top" alt="..." />
				<div class="card-body">
					<h5 class="card-title text-orange">
						<strong><%=@pet.name%> <%=@pet.gender_symbol %></strong>

						<% if @pet.species.name=="dog"%>
						<i class="fas fa-dog"></i>
						<% else %>
						<i class="fas fa-cat"></i>
						<% end%>

					</h5>
					<p>
						<i class="fas fa-birthday-cake mr-2"></i><%=@pet.birthday.strftime("%d %B %Y")%>
						<br><i class="fas fa-user-circle mr-2"></i><%= link_to @pet.user.username, user_path(@pet.user)%>
						<br><i class="fas fa-paw mr-2"></i>Events Attended: <%=@pet.events.count%>
					</p>


					<p><%=@pet.bio %></p>

				</div>
				<div class="card-footer">
					<small class="text-muted">Joined <%=@pet.created_at.getlocal.strftime("%d %B %Y, %H:%M %p")%> </small>
				</div>
			</div>


		</div>
	</div>


	<div class="col-lg-9 col-md-8 main-content">

		<h2 class="mb-3 highlight"><%= @pet.name %>'s Upcoming Events</h2>

		<div class="row card-deck">
			<% @pet.events_future.each do |event| %>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3">
				<%= render :partial => 'events/event_card', locals: { event: event } %>
			</div>

			<% end %>
		</div>

		<h2 class="my-3 highlight"><%= @pet.name %>'s Past Events</h2>

		<div class="row card-deck">
			<% @pet.events_past.each do |event| %>
			<div class="col-xl-3 col-lg-4 col-md-6">
				<%= render :partial => 'events/event_card', locals: { event: event } %>
			</div>

			<% end %>
		</div>


	</div>
</div>
