<div class="row" id="body-row">
	<div id="sidebar-container" class="d-md-block col-lg-3 col-md-4 bg-white">
		<div class="sticky-top sticky-offset">



			<div class="card ml-4 shadow fixed-card">
			<% if @user.profile.dp_url.empty? %>
			<%= image_tag("patterns/user-pic.png", :class=>"card-img-top bg-orange") %>
			<% else %>
				<img src=<%= @user.profile.dp_url%> class="card-img-top" alt="..." />
				<%end%>
				<div class="card-body">
					<h5 class="card-title text-orange">
						<%= @user.profile.name%> <strong>@<%=@user.username%></strong>
					</h5>
					<p>
						<i class="fas fa-crown mr-2"></i>Events Hosted: <%=@user.events.count%>

					<% if @user.profile.birthday != nil%>
						<br><i class="fas fa-birthday-cake mr-2"></i><%= @user.profile.birthday.strftime("%d %B") %>
					<% end %>
					
					</p>

					<p>
					<%= @user.profile.bio %>
					</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Joined <%=@user.created_at.strftime("%d %B %Y")%> </small>
				</div>
			</div>


		</div>
	</div>


	<div class="col-lg-9 col-md-8 main-content">
		<% if @user.profile.name == nil %>
		<% name = @user.username %>
		<% else %>
		<% name = @user.profile.name %>
		<% end %>

		<h2 class="mb-3 highlight"><%= name %>'s Pets</h2>

		<% if @user.pets.count!=0 %>
		<div class="row card-deck">
			<% @user.pets.each do |pet| %>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3">
				<%= render :partial => 'pets/pet_card', locals: { pet: pet } %>
			</div>
			<% end %>
		</div>
		<% else %>
		<p><%= @user.username %> has no pets.</p>
		<% end %>

		<h2 class="my-3 highlight"><%= name %>'s Upcoming Events</h2>

		<% if @user.events.count!=0 %>
		<div class="row card-deck">
			<% @user.events.each do |event| %>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3">
				<%= render :partial => 'events/event_card', locals: { event: event } %>
			</div>

			<% end %>
		</div>
		<% else %>
		<p><%= @user.username %> has no upcoming events.</p>
		<% end %>
		<h2 class="my-3 highlight"><%= name %>'s Past Events</h2>

		<% if @user.events.count!=0 %>
		<div class="row card-deck">
			<% @user.events.each do |event| %>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3">
				<%= render :partial => 'events/event_card', locals: { event: event } %>
			</div>

			<% end %>
		</div>
		<% else %>
		<p><%= @user.username %> has no past events.</p>
		<% end %>


	</div>
</div>
