  <div class="card">
    <% if event.status=="past" %>
    <div class="card-flag bg-danger text-white">ended <%=event.ended_since %> ago</div>
    <% else %>
    <div class="card-flag bg-dark text-white"><%=event.time_left %></div>
    <%end%>
    
    <%= image_tag(event.img_url == "" ? "patterns/pattern3.png" : event.img_url, :class=>"card-img-top bg-secondary") %>

    <div class="card-body">
      <h5 class="card-title"> <%= link_to event.title, event_path(event) %> </h5>
      <p class="card-text">
      <i class="far fa-calendar mr-2"></i><%= event.start_datetime %>
      <br><i class="fas fa-location-arrow mr-2"></i><%= event.location %></strong>

        <br><i class="fas fa-crown mr-2"></i>Hosted by <%= link_to "@#{event.user.username}", user_path(event.user)%>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= "#{event.pets.length} / #{event.capacity} participants" %></small>
    </div>
  </div>
