<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <div class="error-header"><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</div>
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li class="error-msg-list"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= form.label :title, "Title", class:"form-label" %>
        <%= form.text_field :title, class: "form-control", :required => true  %>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <%= form.label :capacity, "Capacity", class:"form-label" %>
        <%= form.number_field :capacity, min:2, class:"form-control", :value => 2, :required => true  %>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :description, "Description", class:"form-label" %>
    <%= form.text_area :description, class:"form-control", :required => true  %>
  </div>
  <div class="row">
    <% t = Time.now + 1.day %>
    <% rounded_t = Time.local(t.year, t.month, t.day, t.hour, t.min/15*15) %>
    <div class="col-6">
      <div class="field">
        <%= form.label :start_time, "Start Time", class:"form-label" %>
        <div class="form-inline">
          <span><%= form.datetime_select :start_time, {  selected: rounded_t, order: [:day, :month, :year] }, {class: "form-control", :required => true}%></span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <%= form.label :end_time, "End Time", class:"form-label" %>
        <div class="form-inline">
          <span><%= form.datetime_select :end_time, {selected: rounded_t, order: [:day, :month, :year] }, { class: "form-control", :required => true }%></span>
        </div>
      </div>
    </div>
  </div>
  <div class="field">
    <%= form.label :location, "Location", class:"form-label" %>
    <div class="input-group">
      <%= form.text_field :location, class:"form-control", id:"location-input", :required => true %>
      <div class="input-group-append">
        <a id="google-button" class="btn btn-outline-secondary">Search for location ></a>
      </div>
    </div>
  </div>
  <div id="location-select">
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-label">Select Event Type</div>
      <%= form.collection_select :type_id, @types, :id, :name,  {}, {:class => 'form-control', :id => 'type-select', :required => true} %>
      <div class="field" hidden>
        <%= form.label :min_pets, "Minimum Pet Participation", class:"form-label" %>
        <%= form.number_field :min_pets, class:"form-control", value:"0", :required => true %>
      </div>
    </div>
    <div class="col-6">
      <div class="field">
        <%= form.label :img_url, "Image (Optional)", class:"form-label" %>
        <%= form.text_field :img_url, class: "form-control"  %>
      </div>
      <div class="form_controls">
        <%= form.label :img_url, "Image:" %>
        <%= form.file_field :img_url %>
        <%= form.hidden_field(:image_cache) %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Create Event", class:"btn btn-primary"%>
  </div>
<% end %>
</div>
