<p id="notice"><%= notice %></p>

<p>
  <h2> <%= @event.title %></h2>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @event.pets.count %> / <%= @event.capacity %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time.getlocal.strftime("%d %B %Y, %H:%M") %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time.getlocal.strftime("%d %B %Y, %H:%M") %>
</p>

<p>
  <strong>Min pets:</strong>
  <%= @event.min_pets %>
</p>

<h3>Pets Participating</h3>

<% if @event.pets.count!=0%>

<ul>
<% @event.pets.each do |pet| %>
  <li><%= link_to pet.name, pet_path(pet) %></li>
<%end %>
</ul>
<% else %>

<p>No pets have joined yet.</p>

<% end %>

<h3>RSVP</h3>

<% if @event.status=="open"%>

  <div class="alert alert-success">
    Event starts in <%=@event.time_left%>!
  </div>

  <% if user_signed_in? && current_user.pets.count!=0 %>

  <h5>Select pets to participate:</h5>
    <%= form_with scope: :event, url: rsvp_path, local: true do |form| %>
    <p>
            <%= form.collection_check_boxes :pet_ids, current_user.pets, :id, :name %>
    </p>
    <p>
      <%= form.submit %>
    </p>
    <% end %>

  <% elsif !user_signed_in? %>
    <p>Please <%= link_to "sign in", user_session_path %> to RSVP.</p>

  <% elsif current_user.pets.count==0 %>
    <p>Oops, you haven't added your pets yet. Head <%=link_to 'here', new_pet_path %> to add your pet!</p>
  <% end %>

  <% elsif @event.status=="full" %>
    <div class="alert alert-warning">Sorry, the event has reached its max number of participants.</div>
  
  <% elsif @event.status=='past' %>
    <div class="alert alert-danger">Sorry, the event ended <%=@event.ended_since%> ago.</div>

  <% elsif @event.status=="started"%>
    <div class="alert alert-danger">Sorry, the event has already started.</div>

  <%end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
