<p id="notice"><%= notice %></p>
<div class="row">
  <div id="sidebar-container" class="d-md-block col-lg-3 col-md-4 bg-white">
    <div class="sticky-top sticky-offset">
      <%# left-flush event card starts here %>
      <div class="card ml-4 shadow">
        <img src="https://picsum.photos/300" class="card-img-top" alt="event image" />
        <div class="card-body">
          <h5 class="card-title text-orange">
            <strong><%= @event.title %></strong>
          </h5>
          <p>
            <br>
            <i class="far fa-calendar mr-1"></i><strong><%= @event.start_date_str.upcase %></strong> | <%= @event.start_time_str %> ~
            <br>
            <i class="far fa-calendar mr-1"></i><strong><%= @event.end_date_str.upcase %></strong> | <%= @event.end_time_str %>
          </p>
          <p>
            <i class="fas fa-location-arrow mr-1"></i><strong><%= @event.location %></strong>
            <br>
            <i class="fas fa-crown mr-1"></i>Hosted by: <%= link_to "@#{@event.user.username}", user_path(@event.user)%>
          </p>
          <p><%= @event.description %></p>
          <p>Capacity: <%= @event.pet_ids.length %> / <%= @event.capacity %> pets</p>
          <p>Event type: <%= Type.find(@event.type_id).name.capitalize %></p>
        </div>
        <div class="card-footer text-center">
          <% if @event.status == "past" %>
            <div class="bg-danger text-white">Event ended <%= @event.ended_since %> ago</div>
          <% else %>
            <div class="bg-dark text-white py-2 px-3 text-small"><strong>Event starts <%= @event.time_left %></strong></div>
          <%end%>
        </div>
      </div>
      <%# left-flush event card ends here %>
    </div>
  </div>
  <%# main content %>
  <div class="col-lg-9 col-md-8 main-content">
    <h2 class="mb-3 highlight">Who's Coming?</h2>
    <div class="row card-deck">
      <% if @event.pets.count!=0 %>
        <% @event.pets.each do |pet| %>
          <div class="col-sm-3 mr-0 mb-3">
            <% if pet.species == "1"%>
              <% species = "dog"%>
            <% else %>
              <% species = "cat"%>
            <% end %>
            <% owner = User.find(pet.user_id).username %>
            <% popupText = "#{pet.name.capitalize} the #{species} with @#{owner}" %>
            <%= link_to image_tag(pet.dp_url, :class => "joined-pet", :action => "pet image", :title => popupText), pet_path(pet) %>
          </div>
        <%end %>
      <% else %>
        <p>No pets have joined yet</p>
      <% end %>
    </div>
  </div>
</div>
<table>
  <tr>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
  </tr>
  <tr>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
  </tr>
  <tr>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
  </tr>
  <tr>
    <td>blah</td>
    <td>blah</td>
    <td>blah</td>
  </tr>
</table>
<h3>Pets Participating</h3>
<% if @event.pets.count!=0%>
  <ul>
    <% @event.pets.each do |pet| %>
      <li><%= link_to pet.name, pet_path(pet) %></li>
    <%end %>
  </ul>
<% else %>
  <p>No pets have joined yet.</p>
<% end %>
<h3>RSVP</h3>
<% if @event.status=="open"%>
  <div class="alert alert-success">
    Event starts in <%=@event.time_left%>!
  </div>
  <% if user_signed_in? && current_user.pets.count!=0 %>
    <h5>Select pets to participate:</h5>
    <%= form_with scope: :event, url: rsvp_path, local: true do |form| %>
      <p>
        <%= form.collection_check_boxes :pet_ids, current_user.pets, :id, :name %>
      </p>
      <p>
        <%= form.submit %>
      </p>
    <% end %>
  <% elsif !user_signed_in? %>
    <p>Please <%= link_to "sign in", user_session_path %> to RSVP.</p>
  <% elsif current_user.pets.count==0 %>
    <p>Oops, you haven't added your pets yet. Head <%=link_to 'here', new_pet_path %> to add your pet!</p>
  <% end %>
<% elsif @event.status=="full" %>
  <div class="alert alert-warning">Sorry, the event has reached its max number of participants.</div>
<% elsif @event.status=='past' %>
  <div class="alert alert-danger">Sorry, the event ended <%=@event.ended_since%> ago.</div>
<% elsif @event.status=="started"%>
  <div class="alert alert-danger">Sorry, the event has already started.</div>
<%end %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
