<!DOCTYPE html>
<html>
  <head>
    <title>Pet Playdates</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="alert"><%= alert %></p>
          <%= yield %>
          <%= link_to "LOG IN", new_user_session_url %>
          <%= link_to "LOG OUT", destroy_user_session_url, method: :delete %>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "jquery-3.5.1.min.js" %>
    <%= javascript_include_tag "popper.min.js" %>
    <%= javascript_include_tag "bootstrap.bundle.min.js" %>
  </body>
</html>
